{% extends "app/index.html" %}
{% load static %}


{% block title %}
  Sports
{% endblock title %}

{% block body %}
<div class=" py-1 mb-3 border-bottom">
  <!-- <nav class="nav nav-underline justify-content-between">
   {% for category in categories %}
       <a class="nav-item nav-link link-body-emphasis" href="{% url 'sport' category %}">{{ category.name }}</a>
   {% endfor %}
  </nav> -->
</div>
  <main>
        <div class="container">
            <div class="row">
                <!-- {% for content in contents|length %} -->
                <div class="col-md-8">
                  <!-- {% if blogs %}
                    {{ blogs.content }}

                    {% else %}
                    <h1>No content yet</h1>
                  {% endif %} -->
                </div>
                              
                <!-- {% endfor %} -->
            </div>
        </div>
  </main>
{% endblock body %}